<!DOCTYPE html>

<html lang = "en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = utf-8">    
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zach Newsom | Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Biryani|Saira+Semi+Condensed" rel="stylesheet">
    <link href = "/static/style.css" rel = "stylesheet">
</head>
<body>

    <div id="toc-holder" class="toc-holder">
        <a href="#" class="toc-link" id="toc-link"><span>&#9776;</span></a>
        <ul id="toc" class="toc">
            <li class="toc-h1"><a href="#section1">About</a></li>
            <li class="toc-h1"><a href="#resume">Résumé</a></li>
            <li class="toc-h1"><a href="#education">Work</a></li>
        </ul>
    </div>
    
    <!-- Intro -->
    <header>
        <div class="content-wrap">
            <h1>ZACH NEWSOM | Software Engineer</h1>
        </div>
    </header>
    <main>
        <div id="section1">
            <p>This is where the console will be</p>
        </div>
        <!-- <div id="image">
            <div class="content-wrap">
                <p>I'm studying Computer Science at UCF. I like to learn things and solve problems.</p>
                
                    <div id="code">
                        <div id="console">
                            #! /zach/info<br/><br/>
                            &gt; Zach.origin<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; Orlando, FL<br/><br/></span>
                            &gt; Zach.education<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; University of Central Florida<br/><br/></span>
                            &gt; Zach.major<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; Computer Science<br/><br/></span>
                            &gt; Zach.expectedGraduation<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; December 2019<br/><br/></span>
                            &gt; Zach.interests<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; {philosophy, computer science, politics}<br/><br/></span>                  
                            &gt; Zach.resume<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a target="_blank" href="attachments/zNewsomResume.pdf">zachnewsom.pdf</a><br/><br/></span>
                            &gt; Zach.email<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a target="_blank" href="mailto:zwnewsom@icloud.com">zwnewsom@icloud.com</a><br/><br/></span>
                        </div>
                    </div>
            </div>
        </div> -->
        <!-- Work Experience -->
        <section class="work">
            <div class="content-wrap">
                <h2 id="resume">Work Experience</h2>

                <!-- Copy and paste whole block to add more jobs -->
                <h3>Software Engineer Associate @ Lockheed Martin</h3>
                <p>University of Central Florida, College Work Experience Program (CWEP)</p>
                <p>May 2018 - Present</p>

                <!-- <p>Job Summary</p> -->
            
                <!-- List is optional and can be deleted -->
                <p>Duties, Responsibilities and Accomplishments:</p>
                <ul>
                    <li>Created...</li>
                    <li>Lead...</li>
                    <li>Responsible for</li>
                </ul>
                <!-- end of Job Details block -->
            </div>
        </section>

        <!-- Education -->
        <section class="education">
            <div class="content-wrap">
                <h2 id="education">Education</h2>
        
                <!-- Copy this section to add another school -->
                <p style="float: left;"><img class="icon" src="../static/images/TheTab_KGrgb_300ppi.png" height="30px" width="30px"></p>
                <h3>&nbsp;&nbsp;University of Central Florida, 2017 - 2019<br/>
                    &nbsp;&nbsp;Computer Science, B.S.</h3>
                <p>Relevant Coursework:</p>
                <ul>
                    <li>Data Structures</li>
                    <li>Discrete Structures in Computer Science</li>
                    <li>Design and Analysis of Algorithms</li>
                    <li>Object-Oriented Programming</li>
                    <li>Computer Logic and Organization</li>
                    <li>Compiler Design</li>
                    <li>Operating Systems</li>
                </ul>
                <h3>Eastern Florida State College, 2013 - 2016<br>
                    General Studies, A.A.</h3>

                <!-- End of school details -->
                </div>
        </section>
    </main>

    <!-- Footer & contact info -->
    <footer>
        <div class="content-wrap">
            <h2>Keep in Touch!</h2>

            <!-- Social media & contact links -->
            <div>
                <a href = "mailto:zwnewsom@icloud.com" target = "_blank">Email</a>
                <a href = "https://www.linkedin.com/in/zach-newsom-11110966/" target = "_blank">LinkedIn</a>
                <a href = "https://twitter.com/_zachnewsom" target = "_blank">Twitter</a>
            </div>

            <p>Copyright 2018 by Zach Newsom</p>
        </div>
    </footer>
</body>
</html>
