<!DOCTYPE html>

<html lang = "en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = utf-8">    
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zach Newsom | Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Biryani|Saira+Semi+Condensed" rel="stylesheet">
    <link href = "/static/style.css" rel = "stylesheet">
</head>
<body>
    <div id="toc-holder" class="toc-holder">
        <a href="#" class="toc-link" id="toc-link"><span>&#9776;</span></a>
        <ul id="toc" class="toc">
            <li class="toc-h1"><a href="#console">About</a></li>
            <li class="toc-h1"><a href="#resume">Résumé</a></li>
            <li class="toc-h1"><a href="#work">Work</a></li>
        </ul>
    </div>
    
    <!-- Intro -->
    <header>
        <div class="content-wrap">
            <h1>ZACH NEWSOM | Software Engineer</h1>
        </div>
    </header>
    <main>
        <div class="image">
            <div class="content-wrap">
                <p>I'm studying Computer Science at UCF. I like to learn things and solve problems.</p>
                <!-- Console -->
                    <div class="code">
                        <div class="console">
                            #! /zach/info<br/><br/>
                            &gt; Zach.origin<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; Orlando, FL<br/><br/></span>
                            &gt; Zach.education<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; University of Central Florida<br/><br/></span>
                            &gt; Zach.major<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; Computer Science<br/><br/></span>
                            &gt; Zach.expectedGraduation<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; December 2019<br/><br/></span>
                            &gt; Zach.interests<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; {philosophy, computer science, politics}<br/><br/></span>
                            <!-- &gt; Zach.favoriteBooks<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a href = "https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034" target = "_blank">How to Win Friends and Influence People by Dale Carnegie</a><br/></span>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a href = "https://www.amazon.com/Sapiens-Humankind-Yuval-Noah-Harari/dp/0062316095" target = "_blank">Sapiens: A Brief History of Humankind by Yuval Noah Harari</a><br/></span>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a href = "https://www.amazon.com/Outliers-Story-Success-Malcolm-Gladwell/dp/0316017930" target = "_blank">Outliers: The Story of Success by Malcolm Gladwell</a><br/></span>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a href = "https://www.amazon.com/Letters-Young-Contrarian-Mentoring-Paperback/dp/0465030335" target = "_blank">Letters to a Young Contrarian by Christopher Hitchens</a><br/></span>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a href = "https://www.amazon.com/Liberty-John-Stuart-Mill/dp/1434463834" target = "_blank">On Liberty by John Stuart Mill</a><br/></span> -->
<!--                            &gt; Zach.workExperience.latest<br/>-->
<!--                            <span class="answer">&nbsp;&nbsp;=&gt; Latest Work Experience<br/>-->
<!--                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "College Work Experience Program (CWEP), UCF"<br/>-->
<!--                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "Lockheed Martin Software Engineer"<br/>-->
<!--                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; date: "May 2018 - Present"<br/>-->
                            
                            &gt; Zach.resume<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a target="_blank" href="attachments/zNewsomResume.pdf">zachnewsom.pdf</a><br/><br/></span>
                            &gt; Zach.email<br/>
                            <span class="answer">&nbsp;&nbsp;=&gt; <a target="_blank" href="mailto:zwnewsom@icloud.com">zwnewsom@icloud.com</a><br/><br/></span>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Work Experience -->
        <section class="work">
            <div class="content-wrap">
                <h2>Work Experience</h2>

                <!-- Copy and paste whole block to add more jobs -->
                <h3>Software Engineer Associate @ Lockheed Martin</h3>
                <p>University of Central Florida, College Work Experience Program (CWEP)</p>
                <p>May 2018 - Present</p>

                <!-- <p>Job Summary</p> -->
            
                <!-- List is optional and can be deleted -->
                <p>Duties, Responsibilities and Accomplishments:</p>
                <ul>
                    <li>Created...</li>
                    <li>Lead...</li>
                    <li>Responsible for</li>
                </ul>
                <!-- end of Job Details block -->
            </div>
        </section>

        <!-- Education -->
        <section class="education">
            <div class="content-wrap">
                <h2>Education</h2>
        
                <!-- Copy this section to add another school -->
                <p style="float: left;"><img class="icon" src="../static/images/TheTab_KGrgb_300ppi.png" height="30px" width="30px"></p>
                <h3>&nbsp;&nbsp;University of Central Florida, 2017 - 2019<br/>
                    &nbsp;&nbsp;Computer Science, B.S.</h3>
                <p>Relevant Coursework:</p>
                <ul>
                    <li>Data Structures</li>
                    <li>Discrete Structures in Computer Science</li>
                    <li>Design and Analysis of Algorithms</li>
                    <li>Object-Oriented Programming</li>
                    <li>Computer Logic and Organization</li>
                    <li>Compiler Design</li>
                    <li>Operating Systems</li>
                </ul>
                <h3>Eastern Florida State College, 2013 - 2016<br>
                    General Studies, A.A.</h3>

                <!-- End of school details -->
                </div>
        </section>
    </main>

    <!-- Footer & contact info -->
    <footer>
        <div class="content-wrap">
            <h2>Keep in Touch!</h2>

            <!-- Social media & contact links -->
            <div>
                <a href = "mailto:zwnewsom@icloud.com" target = "_blank">Email</a>
                <a href = "https://www.linkedin.com/in/zach-newsom-11110966/" target = "_blank">LinkedIn</a>
                <a href = "https://twitter.com/_zachnewsom" target = "_blank">Twitter</a>
            </div>

            <p>Copyright 2018 by Zach Newsom</p>
        </div>
    </footer>
</body>
</html>
